# Data Cleaning for EC1B1

In [4]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ------------------- -------------------- 122.9/250.0 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 2.2 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 2.2 MB/s eta 0:00:01
   -------------------------------------- 250.0/250.0 kB 904.7 kB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np 
import json

C:\Users\Josh Yang\AppData\Local\Temp\ipykernel_6372\3776852748.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [53]:
df_US = pd.read_excel('../US.xlsx')
df_Spain = pd.read_excel('../Spain.xlsm')

In [43]:
df_Spain

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dol...","International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
1,Spain,Jan 1960,NaN,60.0,233,2.857368
2,Spain,Feb 1960,NaN,60.0,253,2.855049
3,Spain,Mar 1960,NaN,60.0,299,2.851573
4,Spain,Apr 1960,NaN,60.0,326,2.853891
...,...,...,...,...,...,...
368,Spain,Aug 1990,57.138375,97.029,53227.717281,52.200576
369,Spain,Sep 1990,97.803577,98.467,53790.187718,52.750025
370,Spain,Oct 1990,100.909947,95.697,55428.040577,53.218335
371,Spain,Nov 1990,104.110449,93.958,56347.862332,53.165017
372,Spain,Dec 1990,88.202071,95.234,56004.835968,53.295997

In [57]:

df_US.rename(columns={'Unnamed: 3': 'Unnamed: 5'}, inplace=True)

In [58]:
df_US

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 4,Unnamed: 5
0,NaN,NaN,"International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
1,United States,Jan 1960,21478.1,13.436946
2,United States,Feb 1960,21395.7,13.482806
3,United States,Mar 1960,21344.7,13.482806
4,United States,Apr 1960,21278,13.528666
...,...,...,...,...
368,United States,Aug 1990,78908.838357,60.351608
369,United States,Sep 1990,80024.166133,60.856066
370,United States,Oct 1990,82852.196532,61.222946
371,United States,Nov 1990,83059.402774,61.360525
372,United States,Dec 1990,83316.214608,61.360525

In [59]:
merged_df = merged_df = pd.concat([df_Spain, df_US], ignore_index=True)

In [60]:
merged_df

,International Financial Statistics (IFS),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,"Economic Activity, Industrial Production, Index","Exchange Rates, National Currency Per U.S. Dol...","International Reserves and Liquidity, Reserves...","Prices, Consumer Price Index, All items, Index"
1,Spain,Jan 1960,NaN,60.0,233,2.857368
2,Spain,Feb 1960,NaN,60.0,253,2.855049
3,Spain,Mar 1960,NaN,60.0,299,2.851573
4,Spain,Apr 1960,NaN,60.0,326,2.853891
...,...,...,...,...,...,...
741,United States,Aug 1990,NaN,NaN,78908.838357,60.351608
742,United States,Sep 1990,NaN,NaN,80024.166133,60.856066
743,United States,Oct 1990,NaN,NaN,82852.196532,61.222946
744,United States,Nov 1990,NaN,NaN,83059.402774,61.360525
745,United States,Dec 1990,NaN,NaN,83316.214608,61.360525